
.TipsBalloon {
  user-select: none;
  position: relative;
  display: block;                  /* ボックス要素にする */
  font-size: 90%;
  color: #fff;
  background-color: #CCC;
  padding: 4px;
  border-radius:8px;
  z-index:100;
  box-shadow: 4px 4px 4px 0px #E2D9DB;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden; 
}
.TipsBalloon.show {
  opacity: 1;
  visibility: visible;
}
/* フキダシ部分を作成 */
.TipsBalloon:before {
  border:10px solid transparent;
  border-bottom-color:#ccc;
  border-top-width:0;
  top:-10px;
  content:"";
  display:block;
  right:8px;
  position:absolute;
  width:0;
}
